* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.add_form {
   margin: 40px auto;
   padding: 30px;
   max-width: 600px;
   height: 30%;
   display: flex;
   flex-direction: column;
   border: 2px solid darkgreen;
   border-radius: 5px;
   background-color: rgb(253, 220, 175)
}

.add_form input {
   margin: 20px 0;
   padding: 10px;
   border: 2px solid rgb(175, 176, 173);
}

.add_form button {
   margin: 15px;
   width: 20%;
   padding: 5px 0;
   border: none;
   outline: none;
   align-self: flex-end;
   background-color: rgb(105, 199, 146);
   border-radius: 8px;
   border-bottom: 4px solid rgb(2, 77, 6);
}

.add_form button:hover {
   background-color: rgb(90, 227, 77);
   color: coral;
   box-shadow: 3px 3px 3px 0 rgb(244, 211, 127);
   cursor: pointer;
}

.products {
   padding: 20px;
   margin: 30px auto;
   width: 90%;
   border: 2px solid blue;
   border-radius: 7px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: rgb(250, 250, 134);

}

.product {
   padding: 15px 35px;
   margin: 15px;
   width: 30%;
   border: 2px solid rgb(206, 129, 239);
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: rgb(216, 174, 237);
   font-size: 25px;
   color: darkblue;
}

button {
   margin-top: 10px;
   width: 70px;
   padding: 5px;
   border: none;
   outline: none;
   align-self: flex-end;
   background-color: rgb(233, 85, 27);
   border-radius: 8px;
   border-bottom: 4px solid rgb(2, 77, 6);
}

button:hover {
   background-color: rgb(90, 227, 77);
   color: coral;
   box-shadow: 3px 3px 3px 0 rgb(244, 211, 127);
   cursor: pointer;
}

.result {
   margin: 30px auto;
   width: 90%;
   padding: 15px;
   border: none;
   outline: none;
   background-color: rgb(245, 154, 118);
   border-radius: 8px;
   border-bottom: 4px solid rgb(140, 38, 10);
   color: rgb(94, 5, 3);
   font-size: 25px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}